:root {
  /* get rid of default margin and padding */
  margin: 0;
  padding: 0;
  /* use border-box sizing */
  box-sizing: border-box;
  /* set the color gray to use for the article descriptions */
  --gray: #5A5A5A;
  font-family: Georgia;
}